<div class="map point-map">
  <iframe class="buffalo-point-map" width="100%" height="100%" frameborder="0" src="https://cclbc.carto.com/builder/49abd3f4-f230-11e6-bf16-0e233c30368f/embed?state=%7B%22map%22%3A%7B%22ne%22%3A%5B41.97480631113838%2C-79.9365234375%5D%2C%22sw%22%3A%5B42.65214190481525%2C-78.695068359375%5D%7D%7D" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div><!-- /.map -->
<div class="caption">
  <p>This interactive map shows current and past properties impacted by the Chautauqua County Land Bank Corporation.</p>
</div><!-- caption -->
